body.dark-mode, body.dark-mode header {
    background-color: #1a171f;
}

body.dark-mode {
    color: rgb(208, 208, 208);
    color: #d1e0e4;
}

.dark-mode header a:hover, .dark-mode header i:hover {
    color: rgb(191, 187, 255);
}

.dark-mode #intro-container {
    border-bottom: 1px solid #332c3d;
    box-shadow: 0 8px 20px -20px rgb(189, 189, 189);
}

.dark-mode .intro-name {
    color: rgb(191, 187, 255);
}

.dark-mode .intro-skills {
    color: rgb(128, 119, 255);
}

.dark-mode .outline {
    border: 1px solid rgb(191, 187, 255);
  }
  
.dark-mode .intro-button {
    color: rgb(191, 187, 255);
}

.dark-mode .intro-button:hover {
    /* background-color: rgb(191, 187, 255);
    color: rgb(128, 119, 255); */
    color: white;
    border: 1px solid rgb(128, 119, 255);
}