.project-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgb(145 103 172 / 12%), 0 1px 2px rgb(145 103 172 / 24%);
  width: 400px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.project-card:hover {
  box-shadow: 0 14px 28px rgb(145 103 172 / 25%), 0 10px 10px rgb(145 103 172 / 22%);
}

.project-img-container {
  position: relative;
  height: 240px;
}

.project-preview {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/* .project-card h3 {
  text-align: center;
} */

.project-header {
  position: relative;
  display: flex;
  align-items: center;

  /* justify-content: center; */
  margin-bottom: 16px;
}

.project-icons {
  position: absolute;
  display: flex;
  gap: 12px;
  right: 0;
}

.project-info {
  padding: 16px 32px 32px;
}

.project-info p {
  line-height: 1.6rem;
}

.project-tools-container {
  background-color: rgb(64 40 78 / 82%);
  position: absolute;
  display: flex;

  /* visibility: hidden; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  flex-wrap: wrap;
  gap: 8px;
}

.project-tool-badge {
  border-radius: 6px;
}
