#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about p,
#about li,
#about h3 {
  font-size: 1.1rem;
}

#about h3 {
  margin: 16px 0;
}

.about-container {
  background-color: white;
  display: flex;
  align-items: flex-start;
  width: 85%;
  box-shadow: 0 1px 3px rgb(145 103 172 / 12%), 0 1px 2px rgb(145 103 172 / 24%);
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.about-container:hover {
  box-shadow: 0 14px 28px rgb(145 103 172 / 25%), 0 10px 10px rgb(145 103 172 / 22%);
}

.profile-pic {
  width: 320px;

  /* border-radius: 50%; */
}

.about-text-container {
  padding: 32px;
  box-shadow: -3px 1px 3px rgb(145 103 172 / 12%), 0 1px 2px rgb(145 103 172 / 24%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-skills-list {
  display: flex;
  gap: 72px;
}

#about p,
#about li {
  line-height: 2rem;
}

.tools-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tool-badge {
  border-radius: 6px;
}
