header {
  background-color: var(--light-background);
  display: flex;
  justify-content: space-between;
  padding: 16px 72px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header h1 {
  font-size: 1.6rem;
}

nav ul {
  display: flex;
  gap: 28px;
  font-size: 1.4rem;
  font-weight: 600;
  list-style: none;
}

@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    padding: 16px 32px;
  }

  header h1 {
    font-size: 1.4rem;
  }
}
