#intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 72px;
  height: 100vh;
  position: relative;
}

.arrow-down {
  position: absolute;
  font-size: 2rem;
  bottom: 32px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.fullwidth {
  box-shadow: 0 8px 20px -20px grey;
  width: 100%;
}

.intro-header {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--pink);
  margin-bottom: 8px;
}

.intro-name,
.intro-skills {
  font-size: 2.7rem;
  font-weight: 700;
}

.intro-name {
  color: var(--vibrant-purple);
  margin-bottom: 8px;
}

.intro-skills {
  color: var(--light-purple);
}

.intro-text {
  margin: 16px 0 24px;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.trybe-link {
  color: #59c28d;
  transition: color 0.2s;
}

.trybe-link:hover {
  color: #2e6c51;
}

.balls {
  position: relative;
}

.purple-ball {
  background-color: var(--light-pink);
  border-radius: 50%;
  min-width: 250px;
  min-height: 250px;
}

.yellow-ball {
  width: 150px;
  height: 150px;
  background-color: var(--light-yellow);
  border-radius: 50%;
  position: absolute;
  top: 0;
  margin-top: -50px;
  right: 0;
  margin-right: -30px;
}

@media screen and (max-width: 780px) {
  .balls {
    display: none;
  }

  .intro-name,
  .intro-skills {
    font-size: 2.2rem;
    font-weight: 700;
  }

  .intro-text {
    font-size: 1.1rem;
  }

  #intro .btn {
    width: 100%;
  }

  .arrow-down {
    display: none;
  }
}
